.downloadcontent {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9361ea;
    background-image: url('/data/images/s2oe10.png');
    background-size: 80%;
    width: 80%;
    text-align: center;
}
