#footer div {
    background-color: rgb(240, 143, 52);
    color: white;   
    font-family: 'Gloria Hallelujah';
    padding: 7px 0px 0px 7px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    font-size: small;
}

#main {
    text-align: center;
}

#blinkie {
    float: left;
    height: 20px;
    width: 150px;
}

#approved {
    float: right;
    height: 31px;
    width: 88px;
}
