#footer div {
    background-color: rgb(240, 143, 52);
    color: white;   
    font-family: 'Gloria Hallelujah';
    padding: 7px 0px 0px 7px;
    font-size: small;
}

#main {
    text-align: center;
}

#whole-footer {
    display: flex;
    justify-content: space-between;
}
