#footer div {
    background-color: rgb(240, 143, 52);
    color: white;   
    font-family: 'Gloria Hallelujah';   
    font-size: small;
}

#main {
    text-align: center;
}

#whole-footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}

#approved {
    padding-top: 10px;
}