*{
    margin: 0;
    padding: 0;
    list-style-type: 0;
    text-decoration: 0;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-image: url('../images/s2bg1.png');
    background-size: 100%;
    background-position: 0;
    background-blend-mode: luminosity;
    background-color: #86cecb;
}
.header2{
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logocontainer{
    height: 100%;
    display: table;
    float: left;
}
.logocontainer h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Gloria Hallelujah';
    font-size: 32px;
    font-weight: 200;
}
.logocontainer h1 span{
    font-weight: 800;
}
.sitelist{
    float:right;
    height: 100%
}
.sitelist a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.sitelist a:last-child{
 padding-right: 0;   
}
.sitelist a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: black;
    font-family: 'Gloria Hallelujah';
    font-size: 20px;
}