#mainbody p {
    font-size: 30px;
}
body {
    background-color: #86adce;
    background-image: url('../images/s2oe10.png');
    background-size: 50%;
    overflow-x: hidden;

}
#mainbody {
    font-family: 'Mali';
    margin-bottom:50px;
}
#header2 {
    background-color: black;
    width: 100%;
    height: 100px;
    rotate: 0.5deg;
    z-index: -10;
    margin-top: -10px;
    position: absolute;
    background-image: url('../images/s2bg2.png');

}
#header2 p {
    color: white;
    text-align: center;
    position: relative;
    top: 30%;
    white-space: nowrap;
     /* Starting position */
     -moz-transform:translateX(100%);
     -webkit-transform:translateX(100%);	
     transform:translateX(100%);
     /* Apply animation to this element */	
     -moz-animation: scroll-left 10s linear infinite;
     -webkit-animation: scroll-left 10s linear infinite;
     animation: scroll-left 10s linear infinite;
    }
    /* Move it (define the animation) */
    @-moz-keyframes scroll-left {
     0%   { -moz-transform: translateX(100%); }
     100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes scroll-left {
     0%   { -webkit-transform: translateX(100%); }
     100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes scroll-left {
     0%   { 
     -moz-transform: translateX(100%); /* Browser bug fix */
     -webkit-transform: translateX(100%); /* Browser bug fix */
     transform: translateX(100%); 		
     }
     100% { 
     -moz-transform: translateX(-100%); /* Browser bug fix */
     -webkit-transform: translateX(-100%); /* Browser bug fix */
     transform: translateX(-100%); 
     }
}
#balls {
    width: 100%;
}
#bodybody {
    margin-left: 100px;
    float: left;
    width: 28%;
    height: 500px;
    background-color: black;
    color: white;
    background-image: url('../images/s2bg2.png');
    rotate: 0.02rad;
    border-radius: 10px;
}
#bodybody2 {
    background-color: white;
    width: 58%;
    float: right;
    margin-right: 100px;
    height: 500px;
    background-image: url('../images/s2bg1.png');
    rotate: -0.02rad;
    border-radius: 10px;
}
#blank {
    height: 150px;
}